# dependencies
/node_modules

# next
/.next
/out

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.local
.env.*.local

# python
__pycache__/
*.pyc
venv/
backend/venv/
.venv/

# firebase admin service account key
serviceAccountKey.json
backend/serviceAccountKey.json
**/serviceAccountKey*.json

# misc
.DS_Store
*.pem

# typescript
*.tsbuildinfo
next-env.d.ts
